/* Fonts */
* {
    font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, .h1, .h2, .h3, .h4{
    font-family: "Orbitron", sans-serif;
}

/* Colors */
:root{
    --gr: rgb(82, 183, 136);    /* #52b788 */
    --ye: rgb(237, 229, 166);   /* #ede5a6 */
    --bl: rgb(60, 55, 68);      /* #3c3744 */
}

.bg-gr{
    background-color: var(--gr);
}

.text-gr{
    color: var(--gr);
}

.bg-ye{
    background-color: var(--ye);
}

.text-ye{
    color: var(--ye);
}

.bg-bl{
    background-color: var(--bl);
}

.text-bl{
    color: var(--bl);
}

.vh-75{
    height: 75vh;
}

.m-top{
    margin-top: 90px;
}

/* Body */
body{
    background-color: var(--bl);
    color: var(--ye);
}

/* NAVBAR */

.navbar{
    height: 70px;
}

.logo{
    height: 50px;
}

.logo2{
    height: 40px;
    transition: 0.5s;
}

.logo3{
    height: 50px;
}

.nav-link{
    font-family: "Orbitron", sans-serif;
    font-size: 20px;
    font-weight: 700;
    transition: 0.4s;
}

.nav-link:hover{
    transform: scale(1.1);
    text-shadow: 3px 3px 8px var(--ye), -3px -3px 8px var(--ye);
    
}


/* HEADER */
.header-custom{
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(black, transparent, var(--bl) 99%), url('./media/milky-way-bg.jpg');
    background-position: center;
    background-size: cover;
}

.btn-custom{
    width: 160px;
    height: 80px;
    background-color: var(--gr);
    color: var(--ye);
    border: 3px solid var(--ye);
    border-radius: 50px;
    font-family: "Orbitron", sans-serif;
    letter-spacing: 3px;
    font-size: 18px;
    font-weight: 700;
    margin: 10px;
    transition: 0.5s;
}

.btn-custom:hover{
    transform: scale(1.1);
    background-color: var(--ye);
    color: var(--gr);
    border: 3px solid var(--gr);
}

/* POSITIONED */

.positioned{
    position: relative;
    top: -150px;
}

.col-custom{
    padding: 10px;
    border: 2px solid var(--ye);
    cursor: pointer;
    transition: 0.5s;
}

.col-custom:hover{
    border: 2px solid var(--gr);
    color: var(--gr);
    background-color: var(--bl);
    transform: scale(1.1);   
}

/* NUMERI INCREMENTALI */

.paragraph{
    font-size: 30px;
} 

.number{
    font-family: "Orbitron", sans-serif;
    font-size: 40px;
    color: var(--gr);
}


/* SWIPER REVIEWS */
.swiper {
    width: 240px;
    height: 320px;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--ye);
    border-radius: 20px;
    font-size: 22px;
    font-weight: bold;
    background-color: var(--gr);
    color: var(--ye);
    padding: 0px 20px;
}

/* -------------------------------------------------------------------------------------------------------------------- */

/* PAGINA ANNUNCI */

.accordion-item, .accordion-button{
    background-color: var(--bl);
    color: var(--ye);
    border: 1px solid var(--gr);
}

.accordion-button:not(.collapsed){
    background-color: var(--gr);
    color: var(--ye);
    font-weight: bolder;
}

.accordion-button:focus{
    box-shadow: none;
}

.accordion {
  position: sticky;
  top: 80px;
}

.form-check-input:checked {
    background-color: var(--gr);
    border-color: var(--gr);
}

.form-check-input:focus {
    box-shadow: none;
}

#wordInput{
    width: 100%;
    outline: none;
    border: 3px solid var(--gr);
    border-radius: 5px; 
    color: var(--bl);
}

.card-custom{
    width: 30%;
    border: 3px solid var(--gr);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}

.card{
    width: 30%;
    height: 450px;
    border: 5px solid var(--gr);
    background-color: var(--bl);
    color: var(--ye);
    border-radius: 20px;
    margin-top: 20px;
}

.img-card{
    margin: 0px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


/* MEDIA QUERY */

@media screen and (max-width: 600px) {
    .logo3{
        display: none;
    }

    .card{
        width: 48%;
        height: 350px;
        margin: 10px 3px;
    }
}
